@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 359 0% 8%;
    --foreground: 0 0% 100%;
    --navbar-background: 359 0% 5%;
    --primary: 19 87% 56%;
    --primary-foreground: 0 0% 0%;
    --secondary: 19 79% 60%;
    --card-background: 12, 0%, 100%, 0.05;
    --card-foreground: 0 0% 100%;
    --accent: 16 0% 70%;
    --destructive: 360 71% 59%;
    --radius: 0.4rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.grecaptcha-badge {
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
  position: absolute !important;
  left: -9999px !important;
}
